/*总体布局*/
html, body {
  width:100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  text-align: center;
  font-family: arial, sans-serif;
}

/*输入框样式布局*/
input {
  height: 20px;
  width: 205px;
  margin-left: 25px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  outline: none;
  border-bottom-color: lightgrey;
  border-bottom-width: 1px;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
#wrapper {
  position: absolute;
  left: 38%;
  text-align: left;
}
.username {
  position: relative;
  width: 20px;
  height: 20px;
  top: 20px;
  left: 33px;
  background-image: url(/images/user.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 0px;
}
.password {
  position: relative;
  width: 20px;
  height: 20px;
  top: 20px;
  left: 33px;
  background-image: url(/images/pwd.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 0px;
}
.password-wrapper {
  margin-bottom: 15px;
}
.one{
  position: relative;
  width: 20px;
  height: 20px;
  left: 270px;
  top: -20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-image: url(/images/eye.png);
}
/*按钮样式*/
.buttons {
  position: relative;
  left: 50%px;
}
.buttons>input {
  width: 50px;
  height: 30px;
  opacity: 0.76;
  color: #757575;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  line-height: 27px;
}
.buttons>input:hover {
  opacity: 1;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #222;
  border: 1px solid #c6c6c6;
}
span {
  font-size: 12px;
}

/*报错信息样式*/
.errormessage {
  color: #BE4B49;
}
.tip {
  color: #999999;
}

/*跳转链接样式*/
.switch-signin-signup {
  position: relative;
  right: -60px;
  top: 0px;
  text-decoration: none;
}
a:hover {
  color: red;
}