html, body {
  width: 100%;
  height: 100%;
  margin-left: center;
  margin-right: center;
  text-align: center;
  padding: 0px;
}
/*at-plus-container is used to contain the hover place*/
#at-plus-container {
  position: absolute;
  left: 40%;
  top: 40%;
  height: 0px;
  width: 0px;
  border-radius: 50%;
}
#at-plus-container:hover {
  width: 166px;
  height: 233px;
  border-top-left-radius: 50%;
  border-top-right-radius: 1%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 10% 50%;
}

/*at-plus button*/
.apb {
  position: absolute;
  background-image: url(../images/atplus_white.png);
  background-size: 20px 15px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transition: 0.5s;
  transition-delay: 0.2s;
  height: 25px;
  width: 25px;
  top: 123px;
  left: 70px;
  background-color: rgba(155, 155, 210, 1);
}
#at-plus-container:hover .apb{
  top: 110px;
  left: 65px;
  width: 50px;
  height: 50px;
  background-image: url(../images/atplus_green.png);
  background-size: 35px 27px;
  background-color: rgba(47, 58, 162, 1);
  transition-delay: 0.2s;
  cursor: pointer;
}
#at-plus-container:hover .no {
  cursor: default;
}

/*info-bar to contain the ul*/
#info-bar {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 162px;
  left: 62px;
  border-radius: 50%;
}
#at-plus-container:hover #info-bar {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0px;
  left: 40px;
}
.sum {
  background-color: rgb(126, 126, 126);
}
#result {
  top: 33px;
  left: 2px;
  position: relative;
  font-size: 30px;
  font-weight: bold;
  color: #3FD29E;
}
#control-ring-container ul {
  list-style: none;
}
.button {
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: rgb(105, 105, 105);
  border-radius: 50%;
  transition: 0.5s;
  top: 127px;
  left: 68px;
  opacity: 0;
  transition: 0.5s;
  line-height: 30px;
  color: #228F82;
  font-weight: bold;
}
.random {
  position: absolute;
  left: 20px;
  top: -7px;
  display: block;
  background-color: #F64136;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  border-radius: 50%;
  color: white;
  font-weight: normal;
}

#at-plus-container:hover .button {
  opacity: 1;
  transition-delay: 0.5s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px 17px;
}
#at-plus-container:hover #A {
  top: 90px;
  left: 20px;
}
#at-plus-container:hover #B {
  top: 130px;
  left: 10px;
}
#at-plus-container:hover #C {
  top: 165px;
  left: 25px;
}
#at-plus-container:hover .random {
  opacity: 1;
}
#at-plus-container:hover #D {
  top: 185px;
  left: 58px;
}
#at-plus-container:hover #E {
  top: 178px;
  left: 98px;
}

.abled {
  background-color: #24469F;
}

.disabled {
  background-color: rgb(126, 126, 126);
}