extends layout

block content
  link(rel='stylesheet', href='/stylesheets/signin.css')
  script(type='text/javascript' src='javascripts/signin.js')
  h1 登录
  div(id='wrapper')
    form(id='signin' method='post')
      if error
        div.error.server!= error
      div
        div.username
        label(for='username') 用户
        input(id='username', name='username')
        span.error
      div.password-wrapper
        div.password
        label(for='password') 密码
        input(id='password', name='password' type='password')
        div.eye.one
        span.error

      div.buttons
        input.button.reset(type='button', value='清除')
        input.button.submit(type='submit', value='登录')
        a.switch-signin-signup(href='/regist') 注册